<p id="notice"><%= notice %></p>

<p>
  <strong>Id number:</strong>
  <%= @plant.id_number %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @plant.common_name %>
</p>

<p>
  <strong>Scientific name:</strong>
  <%= @plant.scientific_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plant.description %>
</p>

<div id="show-image">
  <%= image_tag("#{@plant.id_number}.jpg", alt: "Image of #{@plant.common_name}") %>
</div>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
